.styled-table {
    border-collapse: collapse;
    margin: 80px auto;
    font-size: 1.2em;
    font-family: sans-serif;
    min-width: 70%;
    box-shadow: 0 30px 20px rgba(0, 0, 0, 0.15);
}

.h1 {
    font-family: sans-serif;

}

.styled-table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
}

.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}

.styled-table tbody tr:hover {
    background-color: #3be899;
}

.button {
    margin: 600px;
    background-color: darkcyan;
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
    font-family: sans-serif;
    text-align: center;
}
.button-btn {
    margin: 800px;
    background-color: darkcyan;
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
    font-family: sans-serif;
    text-align: center;
}